SELECT
  display: inline
  
TEXTAREA
  margin-top: -4px
  border: none;
  border-bottom: 1px solid grey;
  overflow: visible;
  
TEXTAREA:focus  
  border-bottom: 1px solid #26a69a
  box-shadow: 0 1px 0 0 #26a69a
